<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/user/login" method="post">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter email"
          required
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <button type="submit">Submit</button>
      </form>
      <a href="/signup" class="signup-link"
        >Don't have an account? Sign up here</a
      >
    </div>
  </body>
</html>
