.hero {
  min-height: 90vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding: 0 5%;
  box-sizing: border-box;
}

  
  .content {
    max-width: 50%;
    text-align: left;
    margin : 100px;
  }
  
  .content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
  }
  
  .highlight {
    color: #f2c94c;
  }
  
  .content p {
    font-size: 1rem;
    color: #555555;
  }
  
  .cta {
    margin-top: 20px;
  }
  
  .signup {
    padding: 10px 20px;
    background-color: #f2c94c;
    color: rgb(15, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .know-more {
    margin-left: 20px;
    color: #644e0b;
    text-decoration: none;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }
  